
/* global */

:root{
    /* color */
    --color-white:#ffffff;
    --color-light-white:#eeeeee;
    --color-dark-white:#bdbdbdb;
    
    --color-black:#000000;
    --color-dark-grey:#4d4d4d;
    --color-grey:#616161;
    --color-light-grey:#7c7979;

    --color-blue: #73aace;

    --color-yellow: #fff7d1;
  
    --color-orange: #feb546;
    --color-strong-orange: #dc2f02;
  
    --color-mint: #2ec4b6;
    --color-light-mint: #cbf3f0;

    /* font size */

    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;

    --font-small: 16px;
  
    --font-micro: 14px;

    /* font weight */

    --weight-bold: 700; 

    --weight-semi-bold: 600;
  
    --weight-regular: 400;

    --size-border-radius: 4px;

    --animation_duration:300ms;


  

}

/*  */
*{

    box-sizing: border-box;
}
html{
    padding: 0;
    margin: 0;

}
body{

font-family: "Open Sans", sans-serif;
    margin: 0;
    cursor: default;
}

a{
    text-decoration: none;
    color: var(--theme-);
}

ul{
    list-style: none;
    padding-left: 0;
}
li{
    list-style: none;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/*navbar  */

#navbar{
    /* js 58 */
    position: fixed;
    display:fixed;
    justify-content: space-between;
    width: 100%;

    background-color: transparent;
    align-items: center;
    color: var(--color-strong-orange);

    padding: 16px;



}

.navbar__menu{
    display: flex;
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    border: 1px solid transparent;

}

/* js 58 */

#navbar.navbar--dark{

    background-color: var(--color-orange);
    padding: 16px;
}

/* js 72 */

.navbar__menu__item:hover{
    border-color: var(--color-strong-orange);
    background-color:var(--color-blue);
}



.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

/* toggle btn */

.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;

    font-size: 24px;
    color: var(--color-blue);

    /* css 12 */
    display: none;

}

/* home */
#home{
    
}




@media screen and (max-webkit:768px){
    :root{

    }

    /* css 12 */
    .navbar__toggle-btn{
        display:block;

        top: 16px;
        right: 16px;
        font-size: var(--font-medium);
    }
}



















/*  */

.home__avatar{
    width: 55px;
}